<h1 id="tableLabel">Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

<p *ngIf="!forecasts"><em>Loading...</em></p>
<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="forecasts">
  <thead>
    <tr>
      <th>City</th>
      <th>Temp. (F)</th>
      <th>Humidity</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let forecast of forecasts">
      <td>{{ forecast.city.name }}</td>
      <td>{{ forecast.tempratureF }}</td>
      <td>{{ forecast.humidity }}</td>
    </tr>
  </tbody>
</table>
